ul li {
    list-style: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: inline-flex;
    width: 306px;
    height: 102px;
    overflow: hidden;
    margin: 0 10px;
}

.list-slider {
    display: flex;
    position: relative;
    right: 0px;
    transition: right .3s;
    padding: 0;
    margin: 0;
}

.item {
    // display: flex;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ffefd5;
    // justify-content: center;
    // align-items: center;
    border: 1px solid #444;
    // margin-right: 10px;
    // margin-left: 10px;
}

.arrow {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    background-color: #fff;
    color: blue;
    // width: 100%;
    // height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}